@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}

main {
  @apply pb-28;
}

.card-base {
  @apply bg-white rounded-3xl shadow-card border border-slate-100;
}

.focus-ring {
  @apply focus:outline-none focus-visible:ring-4 focus-visible:ring-brand-200;
}
